@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --mainFont: 'Poppins', sans-serif;
    --backgroundColor: #f0f0f0;
    --fontColor: #515151;
    --dangerRed: #DC3545;
    --hover: #696969;
}

body {
    margin: 0;
    font-family: var(--mainFont);
    background-color: var(--backgroundColor);
}