@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    /* border: 1px dotted red; */
}

:root {
    --mainFont: 'Poppins', sans-serif;
    --secondaryFont: 'Comfortaa', cursive;
    --backgroundColor: #f0f0f0;
    --fontColor: #515151;
    --dangerRed: #DC3545;
    --bright_blue: #18A0FB;
    --hover: #7788996b;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Profile card styles */
.profile-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 4em 2em;
    margin: 5em 2em;
    width: 70%;
}

.header h1 {
    font-weight: 700;
    margin: 0;
}

.profile-settings {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* Prevent items from wrapping */
    justify-content: space-between;
}

.image-section {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0 1.5em 1em 0;  remove additional spaces*/
    padding: 1em;
    width: 30%; /* Adjust the width for the image section */
}

.image-section img {
    border-radius: 50%;
    height: 12em;
    width: 12em;
    padding: 1em;
}

.image-buttons .button-link {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
}

#upload-button {
    background-color: white;
    border: 1px solid #5b5b5b;
}

#delete-button {
    background-color: #696969;
    border: 1px solid #696969;
    color: white;
}

.user-details-section {
    padding-top: 7vh;
    width: 70%; /* Adjust the width for the user details section */
}

.user-details-section p {
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.user-details-section ul{
    padding: 0;
    margin: 0;
}
.user-details-section li {
    display: flex;
    width: 80%; /* Adjust the width for smaller screens */
    list-style: none;
    background-color: #696969;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    transition: 0.5s ease;
}
#arrow{
    
}
.user-details-section a {
    color: white;
}

.user-details-section li:hover {
    background-color: #a9a9a9;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .header{
        text-align: center;
    }
    .profile-card {
        margin: 0;
        padding: .5em;
        width: 90%;
    }
    .profile-settings{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image-section {
        width: 100%; /* Make the image section full width on smaller screens */
    }
    .image-section img {
        height: 10em;
        width: 10em;
        padding: 0.5em;
    }
    .user-details-section {
        width: 100%; /* Make the user details section full width on smaller screens */
    }
}

@media only screen and (max-width: 576px) {
    .profile-card {
        width: 95%;
        padding: 2em 1em;
    }
    .profile-settings {
        flex-direction: column;
        align-items: center;
    }
    .user-details-section li {
        margin: 0.5em;
    }
}
